.timeline {
  position: relative;
  /* max-width: 1200px; */
  width: auto;
  margin:auto;
  /* margin-bottom: 20px; */
  
  background-image: url("../images/Blackwall.jpg");
  /* background-size: cover; */
  /* background-position: center; */
}
.edu {
  color: #fff;
}

.eduex-h2 {
  color: #fff;
  font-size: 16px;
}

.container-eduex {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container-eduex:nth-child(1) {
  animation-delay: 0s;
}

.container-eduex:nth-child(2) {
  animation-delay: 1s;
}

.container-eduex:nth-child(3) {
  animation-delay: 2s;
}

.container-eduex:nth-child(4) {
  animation-delay: 3s;
}

.container-eduex:nth-child(5) {
  animation-delay: 4s;
}

.container-eduex:nth-child(6) {
  animation-delay: 5s;
}

.container-eduex:nth-child(7) {
  animation-delay: 6s;
}

.container-eduex:nth-child(8) {
  animation-delay: 7s;
}

.container-eduex:nth-child(9) {
  animation-delay: 8s;
}

.container-eduex:nth-child(10) {
  animation-delay: 9s;
}

.container-eduex:nth-child(11) {
  animation-delay: 10s;
}



.text-box {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  background-color: #5252518a;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container-eduex img {
  position: absolute;
  width: 60px;
  border-radius: 50%;
  right: -20px;
  z-index: 10;

}

small {
  color: rgb(255, 218, 6);
}



.right-container img {
  left: -20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #ffff00;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  /* animation: moveline 6s linear forwards; */
}


@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.text-box p  {
  color: #fff;
}

.text-box p, li {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid yellow;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid yellow;
  left: -15px;
}