.timeline {
  position: relative;
  width: auto;
  margin: auto;
  background-color: rgb(61, 60, 60);
}

.edu {
  color: #fff;
}

.eduex-h2 {
  color: #fff;
  font-size: 18px;
}

.container-eduex {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  opacity: 1; /* Ensure visibility */
}

.text-box {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  font-size: 17px;
  background-color: #5252518a;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container-eduex img {
  position: absolute;
  width: 60px;
  border-radius: 50%;
  right: -20px;
  z-index: 6;
}

small {
  color: rgb(255, 218, 6);
}

.right-container img {
  left: -20px;
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.text-box p {
  color: #fff;
}

.text-box p, li {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid yellow;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid yellow;
  left: -15px;
}
