.timeline {
  position: relative;
  width: auto;
  margin: auto;
  background-color: rgb(0, 0, 0);
}

.edu {
  color: #fff;
}

.eduex-h2 {
  color: #fff;
  font-size: 18px;
}

.container-eduex {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  opacity: 1; /* Ensure visibility */
}

.text-box {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  font-size: 17px;
  background-color: #5252518a;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container-eduex img {
  position: absolute;
  width: 60px;
  border-radius: 50%;
  right: -20px;
  z-index: 6;
}

small {
  color: rgb(255, 218, 6);
}

.right-container img {
  left: -20px;
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.text-box p {
  color: #fff;
}

.text-box p, li {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  list-style: none;
}



