@keyframes infinite-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logos {
  overflow: hidden;
  padding: 10px 0;
  background: rgb(61, 60, 60);
  position: relative;
  margin-bottom: -35px;
}

.clieent {
  color: rgb(255, 215, 0);
}

.myClient {
  color: rgb(255, 255, 255);
}

.logos-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.logos-slide {
  display: flex;
  animation: infinite-slide 20s linear infinite;
  will-change: transform;
}

.logos-slide img {
  height: 150px;
  width: 150px;
  margin: 0 20px;
  flex-shrink: 0; /* Prevent shrinking */
}

.logos-slide::after {
  content: '';
  display: block;
}

.logos-container .logos-slide {
  display: flex;
}

.logos-slide::before {
  content: '';
  display: inline-flex;
}
